.banner{
    min-height: 400px;
    background-image: url(https://pixabay.com/photos/ocean-sea-waves-dawn-dusk-1867285/);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: #fff;
}

